name: Purge camo cache

on:
  workflow_dispatch:
  workflow_call:

jobs:
  purge-camo-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Purge images from camo.githubusercontent.com
        shell: bash
        env:
          REPO_OWNER: ${{ github.repository_owner }}
          REPO_NAME: ${{ github.event.repository.name }}
        run: |
          urls=$(curl -sLk "https://github.com/${REPO_OWNER}/${REPO_NAME}/tree/main" | grep -Eo "(http|https)://camo.githubusercontent.com[a-zA-Z0-9./?=_%:-]*")
          while IFS= read -r url; do curl -X PURGE "$url"; done <<< "$urls"
